body{
  background-color: slateblue;
  justify-content: center;
  text-align: center;
}
li{
  list-style: none;
  font-size: 30px;
  font-weight: 500;
}
.img-li{
  display: flex;
  align-items: center;
}
input{
  width: 155px;
  height: 20px;
}
@media screen and (max-width: 800px) {
  .img-li {
     display: inline-block;
  }
  img{
    width: 250px;
    height: 250px;
  }
}