*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: poppins;
    position: relative;
}
img{
    height: 50px;
}
.note{
    display: inline-block;
    padding: 10px 10px 35px 10px;
    margin: 10px 10px;
    border-width: 1px 1px 1px 6px;
    box-shadow: 0 0 1.5px rgb(128, 128, 128);
    border-radius: 5px;
    width: 200px;
    word-wrap: break-word;
}
.note:hover{
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
}
.note:hover .deletebut{
    display: inline;
}
.addbut{
    margin-left: 550px;
    border-radius: 15px;
}
.addbut:hover .addic {
    color: white !important;
  }
  
.deletebut{
    display: none;
    position: absolute;
}
span{
    font-size: 25px;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}
form{
    position: relative;
    width: 600px;
    margin: 32px auto 50px auto;
    background: #fff;
    border-radius: 7px;
    padding: 7px;
    box-shadow: 0 1px 7px rgb(128, 128, 128);
}
form input{
    width: 100%;
    border: none;
    padding: 4px 10px;
    margin-bottom: 15px;
    resize: none;
    outline: none;
    font-size: 1rem;
}
form textarea{
    width: 100%;
    border: none;
    padding: 4px 10px;
    resize: none;
    outline: none;
}
button{
    background: transparent;
    border: none;
    box-shadow: 0 1px 5px rgb(128, 128, 128);
    border-radius: 5px;
}
.addbut:hover{
    background-color: #ffc23c;
}
.editdelete:hover{
    background-color: #ffc23c;
    background-image: url("./delete1.png");
}
.edittext{
    border: none;
    outline: none;
    resize: none;
}
.editdelete{
    border-radius: 10px;
    /* padding: 5px; */
    background-image: url("./delete.png");
    height: 30px;
    width:  30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
}
@media only screen and (max-width: 600px) {
    form{
    /* margin: 100px auto; */
    width: 300px;
    }
    .addbut{
        margin-left: auto;
        border-radius: 15px;
    }
    /* .note{
        width: 100%;
    } */
  }