body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: poppins;
    overflow-x: hidden;
    color:#ffffff;
    background-color: #000000;
}
*{
    margin: 0;
}

header{
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    padding-top: 20px;
    border-bottom: 1px solid transparent;
    transition: all 0.4s ease;
    padding: 5px 0px;
}
ul{
    display: flex;

}
li{
    list-style-type: none;
    margin-right: 40px;
    opacity: 60%;
}
li:hover{
    opacity: 100%;
}
a{
    text-decoration: none;
    color:#ffffff;
}
header>a{
    height: 40px;
    width: 100px;
    text-decoration: none;
    border-radius: 25px;
    color:#ffffff;
    background-color: #0c8bfd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 70px;
}
header img{
    margin-left: 70px;
}
strong {
    font-weight: 520;
    color: #f637ec;
}
h1 {
    top: 10px;
    font-weight: 700;
    font-size: 80px;
}
.home-left {
    padding: 40px 0 70px 60px;
    width: 50%;
}
.Home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(assets/Photos/backCards.png);
    background-repeat: no-repeat;
    background-size: 850px;
    background-position: right bottom 70px;
    margin-top: 90px;
}
.home-right{
    height: 600px;
}
.home-right>img {
    top: 60px;
    height: 500px;
    transition: transform .4s;
}
.home-right>img:hover {
    transform: scale(1.1);
}
.home-p1 {
    margin-bottom: 60px;
    font-size: 20px;
}