body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    background-color: #151515;
    color: #ffffff;
    font-family: poppins;
    overflow-x: hidden;
}

* {
    margin: 0;
}

header {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    background-color:rgba(21,21,21,255);
    padding-top: 20px;
    border-bottom: 1px solid transparent;
    transition: all 0.4s ease;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    margin-right: 40px;
    
}
a {
    color: #ffffff;
    text-decoration: none;
}

.Contact-us {
    margin-right: 60px;
    padding-left: 20px;
    background-image: url(assets/Icons/btn-pink-bg.svg);
    background-repeat: no-repeat;
    background-position: left;
}
header>img{
    margin-left: 60px;
}
strong {
    font-weight: 520;
    color: #f637ec;
}

.happy-user {
    display: flex;
}

h1 {
    top: 10px;
    font-weight: 400;
    font-size: 80px;
    

}

.home-left {
    padding: 40px 0 70px 60px;

}

.Home {
    display: flex;
    align-items: center;
    background-image: url(assets/Photos/backCards.png);
    background-repeat: no-repeat;
    background-size: 850px;
    background-position: right bottom 70px;
    margin-top: 90px;
}
.home-right{
    height: 600px;
    width: 600px;
}
.home-right>img {
    top: 60px;
    left: 900px;
    position: absolute;
    overflow-x: hidden;
    height: 600px;
    transition: transform .4s;
}

.home-right>img:hover {
    transform: scale(1.1);
}

.home-p1 {
    margin-bottom: 60px;
    font-size: 20px;

}

.home-h3 {
    padding-bottom: 50px;
    padding-left: 30px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-image: url(Assets/Icons/btn-pink-bg.svg);
    font-weight: 450;
}

.home-div {
    display: flex;
    align-items: center;
}

.home-h2 {
    margin-right: 15px;
    font-weight: 300;
    font-size: 50px;
}

.happy-user img {
    margin: 0 40px 0 40px;

}

.happy-user {
    display: flex;
    align-items: center;
}

.logo-div1 {
    background-color: #292929;
    height: 50px;
    padding: 80px 100px;
    
}

.logo-div2 {
    background-color: #292929;
    background-image: url(assets/Icons/Logo.svg);
    height: 50px;
    background-size: 20% 100%;
    
}
.payment-div{
    padding: 120px 0;
}
h2{
    font-weight: 400;
    font-size: 70px;
    width: 50%;
    
}
.payment-div1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.payment-p1 {
    margin-right: 60px;
    font-size: 20px;
    width: 400px;
}
.payment-div2-ch{
    display: flex;
    justify-content: space-around;
    margin: 100px 0 0 0;
    padding: 0 70px 0 70px;
}
.payment-div2-ch1{
    height: 320px;
    width: 370px;
    background-color: #272727;
}
.ch1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 320px;
    width: 370px;
    margin-top: 1px;
    margin-left: 1px;
}
.ch1:hover{
    margin: 0;
    height: 322px;
    width: 372px;
}
.ch2:hover{
    margin: 0;
    height: 322px;
    width: 372px;
}
.ch2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #535150;
    position: absolute;
    height: 317px;
    width: 367px;
    margin-top: 3px;
    margin-left: 3px;
}
.payment-img{
    height: 150px;
    margin-bottom: 30px;
}
.ch-ch1{
    height: 322px;
    width: 372px;
    background: hsla(210, 4%, 9%, 1);

background: linear-gradient(135deg, hsla(210, 4%, 9%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);

background: -moz-linear-gradient(135deg, hsla(210, 4%, 9%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);

background: -webkit-linear-gradient(135deg, hsla(210, 4%, 9%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#161718", endColorstr="#FFFFFF", GradientType=1 );
}
.payment-div2-ch-1nd{
    margin-top: 80px;
}
h5{
    font-size: 25px;
    font-weight: 500;
}
h4{
    font-size: 80px;
    font-weight: 400;
    color: #000;
}
.card-div{
    background-color: #fceffb;
    background-image: url(assets/Photos/VCards.png);
    background-repeat: no-repeat;
    background-position: bottom;
    height: 1200px;
    padding-top:100px ;
}
.card-div1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-p{
    color: #000000;
    opacity: 80%;
    width: 40%;
    text-align: center;
}
.review{
    padding: 100px 0;
}
.review-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.review-h2{
    margin-left: 0;
    width: 70%;
    text-align: center;
    
}
.review-p{
    font-size: 20px;
    width: 40%;
    text-align: center;
    margin-top: 50px;
    opacity: 80%;
}
.review1{
    display: flex;
    justify-content: space-around;
    margin: 50px 0 0 0;
    padding: 0 80px 0 80px;
}
.review1-div{
    margin-top: 80px;
}
.review1-div-ch{
    height: 320px;
    width: 370px;
    background-color: #272727;
}
.review-ch{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 250px;
    width: 480px;
    margin-top: 1px;
    margin-left: 1px;
}
.review-ch:hover{
    margin: 0;
    height: 252px;
    width: 482px;
}
.review-ch1{
    height: 252px;
    width: 482px;
    background: hsla(210, 4%, 9%, 1);

background: linear-gradient(135deg, hsla(210, 4%, 9%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);

background: -moz-linear-gradient(135deg, hsla(210, 4%, 9%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);

background: -webkit-linear-gradient(135deg, hsla(210, 4%, 9%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#161718", endColorstr="#FFFFFF", GradientType=1 );
}