body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: poppins;
    overflow-x: hidden;
    color: #ffffff;
    background-color: #0f0f10;
}

* {
    margin: 0;
}
.nav-home{
    background-image: url(photos/mainImage.png);
    height: 650px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: 450px -146px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 1;
}

nav{
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
    
}
ul{
    display: flex;
    align-items: center;
    
}
li{
    list-style: none;
    margin-left: 60px;
    font-weight: 600;
}
a{
    text-decoration: none;
    color: #ffffff;
}
ul a{
    margin-left: 100px;
    padding: 15px 50px;
    background-color: #1e1e21;
    border-radius: 5px;
}
nav img{
    margin-left: 370px;
    width: 30px;
    height: 30px;
}


/* home */
.home{
    margin-right: 170px;
    margin-bottom: 30px;
}
.home>img{
    margin-left: 60px;
}
h1{
    font-size: 70px;
    font-weight: 600;
}
h2{
    font-size: 20px;
    font-weight: 500;
}
.home-div h2{
    margin-top: 40px;
}
.home-div p{
    line-height: 32px;
    margin: 20px 0 30px 0;
}
.home-div a{
    display: inline-block;
    padding: 15px 20px;
    background-color: #1e1e21;
    border-radius: 10px;
}
strong{
    margin-left: 20px;
}
.home-div img{
    margin-right: 10px;
}
/* logo */
.logo{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-items: center;
    margin: 150px 230px 150px 0;
}
.logo img{
    margin-left: 160px;
}

/* specs */
.specs{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 0 260px;
}
.specs-div{
    display: flex;
    align-items: center;
}
.specs-left{
margin-right: 100px;
}
.specs-left-ch h3{
    font-weight: 500;
}
.specs-left-ch h5{
    font-weight: 200;
}
.specs-left-ch{
    margin-bottom: 20px;
}
.specs-left-ch:nth-child(1), .specs-left-ch:nth-child(4){
    margin-left: 20px;
}
.specs-right:hover{
    transform: scale(1.1) translateY(-5px);
    transition: all.70s ease;
}

/* case */
.case{
    margin-top: 200px ;
    margin-bottom: 200px ;
}
.specs-left-ch-case-img{
    margin-right: 60px;
}
.case>img{
    margin-bottom: 50px;
}
.specs-left p{
    opacity: 60%;
    line-height: 30px;
}
.specs-left a{
    display: inline-block;
    padding: 15px 30px 15px 50px;
    background-color: #1e1e21;
    border-radius: 10px;
    position: relative;
    margin-top: 50px;
    z-index: -1;
}
.case-left img{
    margin-right: 10px;
    position: absolute;
    left: 12px;
}
/* music */
.music{
    background-color: #1e1e21;
    padding: 50px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    margin-left: 350px;
    border-radius: 20px;
}
.music-left h3{
    font-size: 30px;
    font-weight: 500;

}
.music-left h5{
    font-size: 18px;
    font-weight: 200;
    margin: 16px 0;
}
.music-left a{
    background-color: #0f0f10;
    padding: 15px 35px;
    display: flex;
    align-items: center;
    width: 100px;
    border-radius: 10px;
}
.music-left img{
    margin-right: 13px;
}
.music-right:hover{
    transform: scale(1.1) ;
    transition: all.70s ease;
}

/* style */
.style{
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.style-div-ch1{
    background-color: #1e1e21;
    height: 150px;
    width: 170px;
    border-radius: 10px;
    margin-left: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.style-div-ch1>img{
    height: 130px;
    position: absolute;
    bottom: 75px;
}
.style-div-ch1>img:hover{
    transform: scale(1.1) ;
    transition: all.70s ease;
}
.style-div-ch1 div{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.style-div-ch1 h3{
    font-size: 15px;
    font-weight: 500;
    position: absolute;
    left: 10px;
    bottom: 10px;
}
.style-div-ch1 div img{
    background-color: #0f0f10;
    padding: 10px 10px;
    border-radius: 10px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.style-div-ch-top{
    display: flex;
    margin-top: 150px;
}
.style-div-ch-bottom{
    display: flex;
    margin-top: 100px;
}
input{
    width: 150px;
}