body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: poppins;
    overflow-x: hidden;
    
}

* {
    margin: 0;
}
.nav-home{
    background: linear-gradient(180deg, #fdfeff 10%, #e2f1ff 90%);
    rotate: -5deg;
    width: 1600px ;
    height: 650px;
    z-index: -1;
    position: absolute;
    right: 0;
    top: 0;
}

nav{
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;
    align-items: center;
    z-index: 1;
}
ul{
    display: flex;
    align-items: center;
    
}
li{
    list-style: none;
    margin-left: 40px;
    font-weight: 600;
}
a{
    text-decoration: none;
    color: #722ed1;
    padding: 8px 20px;
    border-radius: 30px;
}
ul a{
    margin-left: 40px;
    padding: 8px 20px;
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid #722ed1;
}



/* home */
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 170px;
}
.home>img{
    margin-left: 60px;
}
h1{
    font-size: 50px;
    font-weight: 600;
    line-height: 50px;
}
.home h1{
    margin: 20px 0;
}
/* h2{
    font-size: 20px;
    font-weight: 500;
} */
/* .home-div h2{
    margin-top: 40px;
} */
.home-div p{
    line-height: 32px;
    margin: 20px 0 30px 0;
}
p{
    opacity: 70%;
}
/* .home-div a{
    display: inline-block;
    padding: 15px 20px;
    background-color: #1e1e21;
    border-radius: 10px;
} */
.home-right img{
    margin-left: 10px;
}
.home-div div{
    background-color: #f7f1ff;
    border-radius: 30px;
    padding: 0 0 0 20px;
    width: 250px;
    color: #722ed1;
}
.home-div div a{
    text-decoration: underline;
    background-color: transparent;
    padding: 10px 0;
    display: inline-block;
}
.home-div a:nth-child(4){
    background-color: #722ed1;
    color: #fdfeff;
    
}
.home-div a:nth-child(5){
    background-color: #ffffff;
    color: #722ed1;
    margin-left: 30px;
}
.home-div{
    margin-right: 150px;
}
/* data */
.data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 300px;
}
.data h2{
    font-size: 30px;
    margin: 20px 0;
}
.data a {
    background-color: #f7f1ff;
    
}
.data-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.data-left p{
    width: 700px;
}
.data-right{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}
.data-right-ch p{
    width: 320px;
}
.data-right-ch{
    margin: 0 10px;
}

/* launch */
.launch{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}
.launch-right a{
    background-color: #f7f1ff;
    margin-bottom: 20px;
}
.launch-right h2{
    margin: 20px 0;
}
.launch-right p{
    width: 490px;
}
.launch-right{
    margin-left: 100px;
}
/* driven */

.driven p{
    width: 500px;
}
.driven-main{
    margin-left: 100px;
}

/* profile */
.pro{
    z-index: -1;
    position: absolute;
    height: 150%;
    width: 105%;
    background-color: #f7f8ff;
    rotate: -5deg;
}
.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    margin: 200px 0;
}
.profile h4{
    font-size: 25px;
    font-weight: 500;
}
.profile>img{
    margin: 20px 0;
}
.profile-div img{
    margin: 0 40px;
}
.profile h5{
    font-size: 15px;
    font-weight: 700;
}
.profile-div{
    padding-top: 30px;
    border-top: 2px solid #eae0fc;
    margin-top: 30px;
}
/* form */
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px 0;
}
.form-left h2{
    font-size: 35px;
}
.form-left-ch1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.form-left-ch1 hr{
    rotate: 90deg;
    height: 140px;
}
.form-left-ch1 p{
    margin: 0 90px;
}
.form-left-ch2{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 100px 100px;
}
.form-right-ch1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fdfeff;
    padding: 20px 40px 20px 40px;
    border-radius: 10px;
    position: absolute;
    top: -20px;
}
.form-right{
    background-color: #eae0fc;
    padding: 30px 30px;
    border-radius: 10px;
    position: relative;
    height: 460px;
    width: 450px;
    margin-left: 50px;
}
.form-right a{
    background-color: #722ed1;
    color: #e2f1ff;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    margin: 10px 0;
    padding: 15px 0;
}
input{
    width: 350px;
    border: 1px solid #eae0fc;
    outline: none;
    padding: 15px 0 15px 10px;
    margin: 10px 0;
}
.form-right h3{
    font-size: 25px;
}
.form-right h4{
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0;
}
.form-right img{
    margin: 10px 0;
}
.form-right h5 a{
    background-color: transparent;
    color: #722ed1;
    padding: 0;
}

