body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: poppins;
    overflow-x: hidden;
    color: #000000;
}

* {
    margin: 0;
}
nav {
    position: fixed;
    right: 0;
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    /* backdrop-filter: blur(10px);
    background-color:rgba(59,50,59,0.1); */
    padding: 5px 0px;
    z-index: 1;
}
ul {
    display: flex;
}
.hr-line{
    padding: 0 30px;
    width: 1200px;
    margin: 120px 0 0 100px;
    height: 0.1px;
    background-color: azure;
    position: fixed;
}
li {
    list-style-type: none;
    margin-right: 40px;
    opacity: 60%;   
    font-size: 20px;
    font-weight: 300;
}

li:hover {
    opacity: 100%;
}
a {
    text-decoration: none;
    color: #ffffff;
}
section{
    display: flex;
    flex-direction: column;
}
.navbar1 {
    background-image: url(Photos/mainBackground.png); 
    background-blend-mode: overlay;
    background-position-x: center;
    background-position-y: 0;
    background-repeat: no-repeat;
    background-size:100% 800px ;
    width: 100%;
    height: 800px;
    background-color:rgba(0,0,0,0.5);
}
nav img {
    margin-left: 140px;
}
nav ul li:nth-child(4){
    margin-right: 200px;
}
/* home */
.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 220px;
    margin-bottom: 60px;
}

h1 {
    font-size: 70px;
    font-weight: 600;
    color: #ffffff;
    width: 700px;
}

.home-left h6 {
    color: #ffffff;
    opacity: 60%;
    margin: 30px 0;
    font-size: 20px;
    font-weight: 400;
}
.home-left{
    margin-left: 140px;
}
.home-a {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 400;
    background-color: #6663e9;
    border-radius: 30px;
}
.home-left a:nth-child(3):hover{
    background-color: #ffffff;
    color: #6663e9;
    border-bottom: 4px solid #6663e9;
    transform: scale(1.01) translateY(-5px);
    transition: all.50s ease;
    
}
.logo{
    width: 1350px;
    height: 50px;
    background-color: #ffffff;
    padding: 60px 40px;
    margin: 0 0 0 40px;
    position: absolute;  
    border-radius: 30px;
    top: 700px;
}
.logo-div{
    height: 40px;
    width: 100%;
    background-image: url(Icons/logoName.svg);
    background-size: 20% 40px;
}
/* estate */
.estate{
    padding: 150px 0;
    background-color: #f6f8fa;
}
.state{
    display: flex;
    margin: 0 140px;
    justify-content: space-around;
    margin-top: 40px;
}
.estate h2{
    font-size: 60px;
    font-weight: 600;
    color: #000;  
    text-align: center;  
}
.estate-div{
    height: 420px;
    width: 380px;
    background-image: url(Photos/cardImage1.png);
    border-radius: 25px;
    background-position: center;
    background-size: 750px;
    /* position: relative; */
    /* z-index: 2; */
}
.estate-div-ch{
    /* position: absolute; */
    margin-top: 350px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;padding: 10px 20px;
    margin-left: 15px;
    height: 100px;
    width: 300px;
    border-radius: 20px;
    /* box-shadow: 10px 20px rgba(0,0,0,0.01); */
}
.estate-div-ch div:nth-child(1) h3{
    font-size: 25px;
    font-weight: 500;
}
.estate-div-ch div:nth-child(1) p{
    font-size: 20px;
    font-weight: 500;
    color: #6663e9;
    margin-top: 10px;
}
.estate-div-ch div:nth-child(2) a{
padding: 12px 30px;
}
.cardimage2{
    background-image: url(photos/cardImage2.png);
    background-size: 590px 100%;
    background-position: 0px;
    margin-top: 30px;
}
.cardimage3{
    background-image: url(photos/cardImage3.png);
    background-size: 750px 100%;
    margin-top: 60px;
}
.cardimage4{
    background-image: url(photos/cardImage4.png);
    margin-top: 60px;
}
.cardimage5{
    background-image: url(photos/cardImage5.png);
    margin-top: 30px;
}
.cardimage6{
    background-image: url(photos/cardImage6.png);
}
.state1{
    margin-top: 100px;
}
.state2{
    margin-top: 100px;
}
.cardimage7{
    background-image: url(photos/cardImage7.png);
    
}
.cardimage8{
    background-image: url(photos/cardImage8.png);
    margin-top: 30px;
}
.cardimage9{
    background-image: url(photos/cardImage9.png);
    margin-top: 60px;
}
.modern{
    background-color: #f6f8fa;
    z-index: -1;
    padding: 100px 0;
    display: flex;
}
.modern-left{
    position: relative;
}
.modern-left img:nth-child(1){
    height: 108%;
    width: 108%;
}
.modern-left img:nth-child(2){
    height: 550px;
    width: 562px;
    border-radius: 80px;
    object-fit: cover;
    object-position: 60%;
    position: absolute;
    left: 135px;
    bottom: 115px;
}
.modern-right h1{
    color: #000;
    font-size: 62px;
    margin-top: 100px;
}
.modern-right p{
    width: 500px;
    font-weight: 600;
    font-size: 18px;
    opacity: 60%;
    margin: 20px 0 41px 0;
}
.modern-right{
    margin-left: 100px;
}
.next img:nth-child(2){
    left: 60px;
    bottom: 100px;
}
.new{
    padding: 50px 60px;
}
.new-div{
    background-color: #6663e9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
}
.new-div h1{
    font-size: 60px;
    width: 900px;
    text-align: center;
}